# **Exploratory data analysis (EDA)**

## **Imports**
---

In [1]:
import pandas as pd

## **Purpose:** Conduct exploratory data analysis (EDA) to understand the dataset.
---

**Load Dataset:** Load your data and display basic info (e.g., column names, data types, and missing values).

In [2]:
file_path = 'online_retail_II.xlsx'
data = pd.read_excel(file_path)
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [4]:
data.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.000000,525461,525461.000000,417534.000000
mean,10.337667,2010-06-28 11:37:36.845017856,4.688834,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 12:20:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:45:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.424110,NaN,146.126914,1680.811316

In [5]:
data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

**Missing Values**

In [6]:
missing_values = data.isnull().sum()
missing_values

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

**Cleaning the data**

Handling Missing Customer IDs
- Since Customer ID is essential for calculating Recency, Frequency, and Monetary Value (RFM) metrics, itâ€™s generally best to drop rows with missing Customer IDs.
- Retaining rows without Customer ID values would prevent accurate customer-based analysis, as we need to associate each transaction with a specific customer.

- This approach is usually acceptable because:
  - Dropping rows without Customer ID ensures the dataset remains consistent for customer-level analysis.
  - If you have a large dataset, removing a portion of rows without IDs is unlikely to introduce significant bias, especially if missing IDs are random.

Handling Missing Descriptions
- If the Description is Not Critical: Since the Description column likely contains product names or descriptions, itâ€™s usually safe to drop or ignore it if you donâ€™t need it for CLV analysis.
- If the Description is Important: If you decide that Description might be helpful (for instance, to categorize products or identify high-value items)

In [25]:
# Drop rows with missing Customer ID
data = data.dropna(subset=['Customer ID'])

# Drop 'Description' column if it exists, or fill missing values with 'Unknown'
if 'Description' in data.columns:
    data.loc[:, 'Description'] = data['Description'].fillna('Unknown')
    # Alternatively, if you don't need the Description column:
    # data = data.drop(columns=['Description'])

In [10]:
data.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [13]:
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

**Remove duplicate**

In [14]:
# Check for duplicates in the entire DataFrame
duplicates = data.duplicated()
print(duplicates.sum())  # This will give the total count of duplicate rows

6771

In [15]:
# Display duplicate rows
duplicate_rows = data[data.duplicated()]
print(duplicate_rows)

       Invoice StockCode                        Description  Quantity  \
371     489517     21912           VINTAGE SNAKES & LADDERS         1
383     489517     22130   PARTY CONE CHRISTMAS DECORATION          6
384     489517     22319  HAIRCLIPS FORTIES FABRIC ASSORTED        12
385     489517     21913     VINTAGE SEASIDE JIGSAW PUZZLES         1
386     489517     21821   GLITTER STAR GARLAND WITH BELLS          1
...        ...       ...                                ...       ...
523258  538035     20728                LUNCH BAG CARS BLUE         3
523356  538051     22659            LUNCH BOX I LOVE LONDON         2
525170  538155     21907          I'M ON HOLIDAY METAL SIGN         1
525293  538166     21915             RED  HARMONICA IN BOX          5
525340  538168     22739  RIBBON REEL CHRISTMAS SOCK BAUBLE         5

               InvoiceDate  Price  Customer ID         Country
371    2009-12-01 11:34:00   3.75      16329.0  United Kingdom
383    2009-12-01 11:34:00   0.85      16329.0  United Kingdom
384    2009-12-01 11:34:00   0.65      16329.0  United Kingdom
385    2009-12-01 11:34:00   3.75      16329.0  United Kingdom
386    2009-12-01 11:34:00   3.75      16329.0  United Kingdom
...                    ...    ...          ...             ...
523258 2010-12-09 13:03:00   1.65      16065.0  United Kingdom
523356 2010-12-09 13:24:00   1.95      18041.0  United Kingdom
525170 2010-12-09 16:52:00   2.10      16907.0  United Kingdom
525293 2010-12-09 18:09:00   1.25      17965.0  United Kingdom
525340 2010-12-09 19:23:00   1.65      14702.0  United Kingdom

[6771 rows x 8 columns]

In [19]:
# Check for duplicates based on specific columns
duplicates_specific = data.duplicated(subset=['Invoice', 'Customer ID'])
print(duplicates_specific.sum())  # Total count of duplicate rows based on these columns

387176

In [20]:
# Remove all duplicates based on all columns
data = data.drop_duplicates()

# Keep only the last occurrence of each duplicate
data = data.drop_duplicates(keep='last')

In [23]:
# Compare the size of the DataFrame before and after
original_size = len(data)
data = data.drop_duplicates(subset=['Invoice', 'Customer ID'], keep='last')
new_size = len(data)

print(f"Original size: {original_size}")
print(f"New size after removing duplicates: {new_size}")
print(f"Number of rows removed: {original_size - new_size}")

Original size: 410763
New size after removing duplicates: 23587
Number of rows removed: 387176

**Ensure Data Types Are Correct**
- **Convert Columns to Appropriate Data Types:** Check that columns like InvoiceDate are in datetime format and Quantity and UnitPrice are in numeric formats.
- **Convert Data Types if Necessary:** Use `pd.to_datetime()` for date columns and `.astype()` for numeric columns.

In [27]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
data['Quantity'] = data['Quantity'].astype(int)
data['UnitPrice'] = data['Price'].astype(float)

**Standardize Categorical Values**
- **Consistent Formatting for Categorical Columns:** For columns like Country, ensure values are consistently formatted (e.g., "USA" vs "U.S.A."). Use `.str.strip()` to remove any leading/trailing spaces.
- **Map Values if Needed:** You can use a dictionary to replace inconsistent values with standardized ones.

In [28]:
data['Country'] = data['Country'].str.strip()  # Remove extra spaces
data['Country'] = data['Country'].replace({'U.S.A.': 'USA'})  # Standardize country names

**Check for Outliers**
- **Identify Outliers:** Outliers in columns like Quantity and UnitPrice can distort analysis. For example, negative values in Quantity might indicate returns or errors.
- **Handle Outliers:** You can remove, cap, or treat outliers based on their significance. Negative quantities could be flagged or removed if they indicate returns you don't need.

In [29]:
# Remove rows with negative or zero values in Quantity or UnitPrice
data = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)]

**Ensure Referential Integrity**
- **Check Consistency of Related Columns:** For instance, each Invoice should be associated with a valid Customer ID. If any Invoice entries have missing Customer IDs, decide if they should be removed.
- **Remove Invalid or Inconsistent Rows:** If relationships between columns donâ€™t make sense (e.g., an invoice without a customer), itâ€™s best to remove those rows to ensure consistent analysis.

**Validate Calculated Columns**
- **Verify Calculations:** If you create new columns, such as TotalPrice (Quantity * UnitPrice), ensure calculations are correct by sampling some values or performing checks.
- **Consistency Check:** Recalculate TotalPrice and compare with existing data to confirm no discrepancies.

In [32]:
data.loc[:, 'TotalPrice'] = data['Quantity'] * data['UnitPrice']  # Calculate total price for each transaction

**Document Data Cleaning and Transformation Steps**
- **Document Each Step:** Clearly document all data cleaning steps in your notebook or code comments, so you or others can track how the data was modified.
- **Version Control:** If possible, version your data or keep backups of the original dataset to ensure that any errors in data cleaning can be identified and corrected.

**Check for Consistent Dates and Time Intervals**
- **Consistent Time Ranges:** Ensure that all dates fall within a reasonable range (e.g., avoid future dates in historical data).
- **Filter Out Invalid Dates:** If any date is outside of your expected range, remove or correct those records.

In [33]:
# Filter out dates outside expected range
start_date = '2010-01-01'
end_date = '2011-12-31'
data = data[(data['InvoiceDate'] >= start_date) & (data['InvoiceDate'] <= end_date)]

In [34]:
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,UnitPrice,TotalPrice
45228,493410,TEST001,Unknown,5,2010-01-04 09:24:00,4.50,12346.0,United Kingdom,4.50,22.5
45230,493412,TEST001,Unknown,5,2010-01-04 09:53:00,4.50,12346.0,United Kingdom,4.50,22.5
45239,493414,21531,Unknown,24,2010-01-04 10:28:00,2.10,14590.0,United Kingdom,2.10,50.4
45259,493427,21777,Unknown,2,2010-01-04 10:43:00,7.95,13287.0,United Kingdom,7.95,15.9
45283,493428,79321,Unknown,2,2010-01-04 11:15:00,4.95,16550.0,United Kingdom,4.95,9.9
...,...,...,...,...,...,...,...,...,...,...
525327,538167,21914,Unknown,12,2010-12-09 18:58:00,1.25,14713.0,United Kingdom,1.25,15.0
525357,538168,84978,Unknown,6,2010-12-09 19:23:00,1.25,14702.0,United Kingdom,1.25,7.5
525370,538169,21034,Unknown,2,2010-12-09 19:28:00,0.95,13230.0,United Kingdom,0.95,1.9
525395,538170,22961,Unknown,4,2010-12-09 19:32:00,1.45,13969.0,United Kingdom,1.45,5.8
525460,538171,21931,Unknown,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,1.95,3.9

**Initial Visualizations** Create visualizations (histograms, box plots, etc.) to explore the distributions of key features.

**Correlation Analysis:** Check correlations between features and the target variable (CLV) to identify important features.

**Insights and Observations:** Add markdown cells to highlight insights or interesting findings from the data.